
body {
    margin:0;
}

.main-nav{
    height:75px;
    background-color: orange;
    }
    .main-nav:hover{
        height:85px;
    }
    
    .logo {
        height:56px;
        padding:10px;
    }
    .nav-list{
        float: right;
    }
    
    li{
        color:green;
        float:left;
        padding: 14px 16px;
        list-style-type:none;
    }
    .center{
        text-align: center;
    } 
    
    .nav-list {
     float:right;
     list-style-type:none;
    }
    li{
        color:#00ffcc;
        float:left;
        padding: 14px 16px;
    }
    li:hover{
        font-size:24px;
        padding:5px 16px;
    }
    .logo:hover{
        height:66px;
    }
