
body {
    margin:0;
}

.main-nav{
    height:75px;
    background-color: orange;
    }
    .main-nav:hover{
        height:85px;
    }
    
    .logo {
        height:56px;
        padding:10px;
    }
    .nav-list{
        float: right;
    }
    
    li{
        color:green;
        float:left;
        padding: 14px 16px;
        list-style-type:none;
    }
    .center{
        text-align: center;
        
    } 
    
    .nav-list {
     float:right;
     list-style-type:none;
    }
    li{
        color:#ffe6b3;
        float:left;
        padding: 14px 16px;
    }
    li:hover{
        font-size:24px;
        padding:5px 16px;
    }
    .logo:hover{
        height:66px;
    }
    .content{
        height: 160vh;
        padding-left:30%;
    }

 .nav-list{
     float:right;
 }


 .button {
    font-size:24px;
    padding:10px;
    border-radius:10px;
}


 .button-success{
   
    border: 1px solid #808080;
    
    background:#ffe6b3;
    
}

.button-default {
    background:orange;
    color:#cc00cc;
}

.button-danger{
    background:red;
    color:white;
    border:none;
}

.button-large {
    width:250px;
}

.button-small {
    width:150px;
}

    footer {
    background-color:orange;
    }

    .social-media{
        height:50px;
        margin-bottom:0;
    }

    a {
        color: #ffe6b3;
        text-decoration: none;
    }

    iframe {
        height:450px;
        width:530px;
        /* padding-left:30%; */
    }